mixin pagination(pagination)
  nav 
    ul(class="pagination")
      if(pagination.currenttPage>1)
        li(class="page-item")
          button(
            class="page-link"
            button-pagination=pagination.currenttPage -1
            ) Trang trước

      - for (var i=1;i<=pagination.totalPage;i++)
        li(class=`page-item ${pagination.currenttPage==i ? "active" : ""}`)
          button(
            class="page-link"
            button-pagination=i
            ) #{i}

      if(pagination.currenttPage<pagination.totalPage)
        li(class="page-item")
          button(
            class="page-link"
            button-pagination=pagination.currenttPage +1
            ) Kế tiếp